@import "./reset.css";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
    color: #000;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
}

.container {
    max-width: 1230px; 
    padding: 0 30px;
    margin: 0 auto;
}

/* Header */

.header {
    padding-top: 46px;
    background-color: #F1F1F1;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 76px;
}

.logo {
    position: relative;
    padding: 0 12px 3px 0;
    font-weight: 700;
    font-size: 32px;
    line-height: 1;
    color: #000;
}

.logo::after {
    position: absolute;
    right: 0;
    bottom: 0;
    content: "";
    display: block;
    height: 8px;
    width: 8px;
    background-color: #FDA300;
    border-radius: 50%;
}

/*
<nav class="nav">
    <ul class="nav-list">
        <li class="nav-item"><a href="#!" class="nav-link">Home</a></li>
        <li class="nav-item"><a href="#!" class="nav-link">Works</a></li>
        <li class="nav-item"><a href="#!" class="nav-link">Services</a></li>
        <li class="nav-item"><a href="#!" class="nav-link">About</a></li>
        <li class="nav-item"><a href="#!" class="nav-link">Contact</a></li>
    </ul>
</nav>
*/

.nav-list {
    display: flex;
    column-gap: 50px;
    font-weight: 500;
    font-size: 14px;
}

.nav-button {
    display: none;
}

.nav-link {
    color: #000;
}

.nav-link.active {
    color: #606060;
}

/* Header content */

.header-row {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
}

.header-heading {
    font-weight: 600;
    font-size: 44px;
    margin-bottom: 20px;
}

.header-content p {
    line-height: 2;
}

.header-content {
    max-width: 500px;
    margin-top: 124px;
}

.Vera {
    height: 600px;
}

/* Service */

.services {

}

.services-row {
    display: flex;
    column-gap: 171px;
}

.service-card1 {
    padding: 30px 0;
}

.service-card1-img {
    margin-bottom: 30px;
    max-height: 280px;
    margin-left: 131px;
}

.service-card1-title {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 10px;
    text-transform: uppercase;
    margin-left: 131px;
}

.service-card1 p {
    line-height: 2;
    margin-left: 131px;
}

.service-card2 p {
    line-height: 2;
}

.service-card2-title {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.service-card2-img {
    margin-bottom: 30px;
}

.service-card2 {
    padding: 50px 0;
}

/* Portfolio */

.portfolio {
    padding: 90px 0;
    background-color: #F1F1F1;
}

.container {

}

.portfolio-title {
    text-align: center;
    margin-bottom: 70px;
}

.title-1 {
    font-size: 34px;
    font-weight: 600;
}

.project {
    text-align: center;

}

.project + .project {
    margin-top: 90px;
}

.project-img {
    margin-bottom: 40px;
}

.project-title {
    padding: 22px;
    font-size: 18px;
}

.project-title a {
    color: #000;
    text-decoration: underline;
}

.hover-lift {
    transition: transform 0.3s ease-in-out;
}

.hover-lift:hover {
    transform: translateY(-10px);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

/* Footer */

.contacts {
    padding: 90px 0;
    text-align: center;;
}

.contacts-title {
    margin-bottom: 40px;
}

.title-1 {

}

.contacts-content {
    font-size: 18px;
    margin: 0 auto 40px;
    max-width: 480px;
}

.contacts-content p + p {
    margin-top: 1em;
}

.contacts-button {
    margin-bottom: 80px;
}

.btn {
    display: inline-block;
    padding: 7px 22px;
    background-color: #000;
    border-radius: 30px;
    font-size: 18px;
    color: white;
    transition: background-color 0,2s ease-in, top 0,2s ease-in;
}

.btn:hover, .btn:focus {
    background-color: #606060;
}

.btn:active {
    background-color: #000;
    position: relative;
    top: 1px;
}

.contacts-social {
    display: flex;
    justify-content: center;
    column-gap: 60px;
    align-items: center;
    margin-bottom: 40px;
}

.contacts-footer {
    color:#828282;
}


